<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.bookmark.name" [disabled]="!data.enabled">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput [(ngModel)]="data.bookmark.url" [disabled]="!data.enabled">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Group</mat-label>
        <mat-select [(ngModel)]="data.bookmark.group" [disabled]="!data.enabled">
            <mat-option *ngFor="let group of groups" [value]="group.id">
                {{group?.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.bookmark" [disabled]="!isFormValid()" cdkFocusInitial>Ok</button>
</div>