.group-container {

    cursor: pointer;
    span.selected {
        font-weight: 500;
    }


    &.nested {
        margin-left: 1rem;
    
       
    }

    .mat-icon-rtl-mirror {
        vertical-align: middle;
    }
}

